.deleteButton {
  background-color: #f1918f;
  color: #fff;
  padding: 5px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.deleteButton:hover {
  background-color: #c62828;
}